<div class="container-fluid position-relative px-0">
  <%= image_tag @voted_project.image, class: "container-fluid"%>
  <div class="mx-5">
    <h2 class="position-absolute fw-bold th-or maxi-text-photo"><%= @voted_project.title %></h2>
    <p class="position-absolute text-photo fw-bold text-white h6"> <%= @voted_project.text %> </p>
  </div>
</div>
<div class="row s-btn">
  <div class="col-3 position-relative px-0">
    <%= image_tag @voted_project.image, class: "container-fluid px-0"%>
    <div class="mx-5">
      <h2 class="position-absolute fw-bold th-or mini-text-photo"><%= @voted_project.title %></h2>
      <p class="position-absolute t-photo fw-bold text-white"> <%= @voted_project.text %> </p>
    </div>
  </div>
  <div class="col-3 position-relative px-0">
    <%= image_tag @voted_project.image, class: "container-fluid px-0"%>
    <div class="mx-5">
      <h2 class="position-absolute fw-bold th-or mini-text-photo"><%= @voted_project.title %></h2>
      <p class="position-absolute t-photo fw-bold text-white"> <%= @voted_project.text %> </p>
    </div>
  </div>
  <div class="col-3 position-relative px-0">
    <%= image_tag @voted_project.image, class: "container-fluid px-0"%>
    <div class="mx-5">
      <h2 class="position-absolute fw-bold th-or mini-text-photo"><%= @voted_project.title %></h2>
      <p class="position-absolute t-photo fw-bold text-white"> <%= @voted_project.text %> </p>
    </div>
  </div>
  <div class="col-3 position-relative px-0">
    <%= image_tag @voted_project.image, class: "container-fluid px-0"%>
    <div class="mx-5">
      <h2 class="position-absolute fw-bold th-or mini-text-photo"><%= @voted_project.title %></h2>
      <p class="position-absolute t-photo fw-bold text-white"> <%= @voted_project.text %> </p>
    </div>
  </div>
</div>
