<div class="bg-white nm">
  <div class="container pb-5">
    <div class="d-flex justify-content-between">
      <div>
        <h1><%= @project.title %></h1>
        <p>Created by: <strong><%= @project.author.username %></strong></p>
      </div>
      <%= vote_unvote %>
    </div>
    <div class="d-flex">
      <%= show_image %>
      <p class="container"><%= @project.text[0..1200] %></p>
    </div>
    <%= @project.text[1201..] %>
    <br/>
    <h3>Categories</h3>
    <ul>
      <% show_categories(@categories).each do |c| %>
        <li><%= c.name %><%= delete_category(c) %></li>
      <% end %>
    </ul>
    <br/>
    <%= add_category %>
  </div>
</div>